
<form action="{% url 'add-course' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profileImage">
        title <input type="text" name="course_title" id="course_title">
    </div>
    <div class="profileImage">
        thumbnail <input type="file" name="course_thumbnail" id="course_thumbnail">
    </div>
    <div class="profileImage">
        difficulty 
        <select name="course_level" id="course_level">
            <option value="beginner">beginner</option>
            <option value="beginner">intermediate</option>
            <option value="beginner">expert</option>
        </select>
    </div>
    <div class="profileImage">
        description <input type="text" name="course_desc" id="course_description">
    </div>
    <div class="profileImage">
        prerequisites <input type="text" name="course_prerequisites" id="course_prerequisites">
    </div>
    
    <button type="submit">Add Course</button>
</form>