<div class="dashboard_home">

    {% if homepage == 'home' %}
        {% include 'src/home/pages/dash_home.html' %}

    {% elif homepage == 'analytics' %}
        {% include 'src/home/pages/analytics.html' %}

    {% elif homepage == 'add-course' %}
        {% include 'src/home/pages/addCourse/overview.html' %}

    {% elif homepage == 'course-details' %}
        {% include 'src/home/pages/addCourse/courseDetails.html' %}

    {% elif homepage == 'courses' %}
        {% include 'src/home/pages/my_courses.html' %}

    {% elif homepage == 'profile' %}
        {% include 'src/home/pages/educator/profile.html' %}

    {% elif homepage == 'settings' %}
        {% include 'src/home/pages/educator/settings.html' %}

    {% elif homepage == 'error' %}
        {% include 'src/error/error_page.html' %}
        
    {% elif homepage == 'name-edit' or homepage == 'number-edit' or homepage == 'email-edit' %}
        {% include 'src/home/pages/update_user/user_edit.html' %}
        
    {% elif homepage == 'pfp-update' %}
        {% include 'src/home/pages/update_user/pfp.html' %}


    {% else %}
        
        NOTHING MORE IN IF-IF

    {% endif %}

</div>