<div class="rssec">


    <div class="rsGroup">

        <div class="rsGrpTitle">My Account</div>
        <div class="rsGrpSubTitle"></div>
        <div class="rsBox">
            <div class="rsSubBox">
                <div class="rsLSide">IMG</div>
                <div class="rsRSide">
                        <button type="submit" style="border: 1.3px solid rgba(86, 86, 86, 0.55); color: var(--green); background: transparent;">Edit profile image</button>
                </div>
            </div>
            <div class="rsSubBox">
                <div class="rsLSide">Name<br><b>Kushal Kumar Saha</b></div>
                <div class="rsRSide">
                    <button type="submit" style="border: 1.3px solid rgba(86, 86, 86, 0.55); color: var(--green); background: transparent;">Edit name</button>
                </div>
            </div>
            <div class="rsSubBox" style="border: none;">
                <div class="rsLSide">Mobile<br><b>9123686897</b></div>
                <div class="rsRSide">
                    <button type="submit" style="border: 1.3px solid rgba(86, 86, 86, 0.55); color: var(--green); background: transparent;">Edit number</button>
                </div>
            </div>
            <div class="rsSubBox"  style="border: none;">
                <div class="rsLSide">Email ID<br><b>am.kushal02@gmail.com</b></div>
                <div class="rsRSide">
                        <button type="submit" style="border: 1.3px solid rgba(86, 86, 86, 0.55); color: var(--green); background: transparent;">Edit email</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    


</div>
<!-- 
<form action="{% url 'add-pfp' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profileImage">
        Profile Image: <input type="file" name="{{picform.picture.name}}" id="{{picform.picture.id_for_label}}" value="{{picform.picture.value | default:''}}">
    </div>
    
    <button type="submit">Add Profile Image</button>
</form> -->