$color_1: aliceblue;

/* 
.header:hover{
    width: 200px;
} */
.header {
	width: 82px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 15px;
	background: #112733;
	overflow-x: hidden;
	align-items: stretch;
	justify-content: space-between;
	>* {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: stretch;
		justify-content: flex-start;
		border-radius: 10px;
		>* {
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(166,166,166,.05);
			padding: 10px 0;
			border-radius: 10px;
			text-decoration: none;
			color: $color_1;
			font-weight: 990;
			width: 100%;
			height: 52px;
			&:hover {
				background: rgba(166,166,166,.17);
			}
		}
	}
}
.xyz {
	display: none;
}
