<div class="settings">

    <div class="lssec">

        <div class="lsbox">

            <div class="lsTitle lsTopic">Settings</div>
            <div class="lsTitle" style="padding-bottom: 3px; color: var(--text0-light); font-weight: 990;">Account</div>
            <div class="lsSubBox">
                <div class="lsSubTitle" style="color: var(--text0-light); font-weight: 990;">Profile</div>
                <div class="lsSubTitle">Payment methods</div>
                <div class="lsSubTitle">Close account</div>
            </div>
            <div class="lsTitle">Preferences</div>
            <div class="lsTitle">Privacy</div>
            <div class="lsTitle">Logout</div>


        </div>

    </div>

    <div class="rssec">
         
        <div class="rsGroup">
            <div class="rsGrpTitle">Account</div>
            <div class="rsGrpSubTitle">Profile</div>
            <div class="rsBox">
                Profile
            </div>
            <div class="rsGrpSubTitle">Payment methods</div>
            <div class="rsBox">
                Payment
            </div>
            <div class="rsGrpSubTitle">Close account</div>
            <div class="rsBox">
                Close account
            </div>
        </div>
        <div class="rsGroup">
            <div class="rsGrpTitle">Preferences</div>
            <div class="rsGrpSubTitle"></div>
            <div class="rsBox">
                Something in Box
            </div>
        </div>
        <div class="rsGroup">
            <div class="rsGrpTitle">Privacy</div>
            <div class="rsGrpSubTitle"></div>
            <div class="rsBox">
                Something in Box
            </div>
        </div>
        <div class="rsGroup">
            <div class="rsGrpTitle">Logout</div>
            <div class="rsGrpSubTitle"></div>
            <div class="rsBox">
                Logout
            </div>
        </div>

    </div>

</div>




<script>


</script>