.errorField{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 72px 0 20px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: flex-start;
}

.err_title{
    padding: 15px 0 0;
    font-size: 1.65rem;
    font-weight: 990;
}

.err_subtitle{ 
    font-size: .9rem;
}

.goHome_btn a{
    background: var(--green);
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    margin-top: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: .83rem;
    font-weight: 990;
}


@media (max-width: 410px){
    .errorImg img{
        scale: .7;
    }
}