<div class="blogsContainer">

    <div class="blogImage">
        <img src="https://img.freepik.com/free-photo/aerial-view-computer-laptop-wooden-table_53876-24821.jpg?w=1480&t=st=1703759670~exp=1703760270~hmac=195802e620a4bf938aa30cd851b0353c6e1a74d5db323d3ae65b481bc848cb15" alt="">
    </div>

    <div class="blogTitle">Our Blogs</div>

    <!-- FEATURED ROW -->
    <div class="blogFeatured">


        <div class="blogFeaturedBox">
            <div class="blogFeaturedImage">
                <img src="https://img.freepik.com/free-photo/ai-technology-microchip-background-digital-transformation-concept_53876-124669.jpg?w=1800&t=st=1703763473~exp=1703764073~hmac=fd44344bdb0ef2a6346fea2e2b8830a3531de184c9d5eda8764bcd0c241fe3cd" alt="">
            </div>
            <div class="blogFaeaturedDetails">
                <div class="blogFeaturedTitle">Something</div>
                <div class="blogFeaturedMore">
                    <div class="blogFeaturedDate">28 Dec, 2023</div>•
                    <div class="blogFeaturedAuthor">Rudra Kumar Mishra</div>
                </div>
                <div class="blogFearturedBrief" >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quos provident reprehenderit! Repellendus est error, exercitationem esse in dolorum. Eius laboriosam fugiat nostrum inventore in laudantium cumque at iure voluptatem.... Read more
                </div>
            </div>
        </div>


        <div class="blogFeaturedRight">
            <div class="blogNewletterBox">
                <div class="blogNewsletterTitle">
                    Blogsletter
                </div>
                <div class="blogNewsletterDesc">
                    Sign up for our latest blogs to stay up-to-date
                </div>

                <form action="/" method="post">
                    <div class="blogNewsletterMailBox">
                    
                        <div class="blogNewletterEmail">
                            <input type="email" name="blog_newsletter_email" id="blog_newsletter_email" placeholder="Your email">
                        </div>
                        <div class="blogNewsletterSubmit">
                            <button type="submit" style="cursor: pointer;">Give</button>
                        </div>
                    
                    </div>
                </form>
            </div>


            <div class="blogNewsletterBrief">
                <div class="blogNewsletterBriefTitle">28 Dec<font style="font-size: .7rem;">, 2023</font></div>
                <div class="blogNewsletterBriefDesc">Last blog updated</div>
            </div>
        </div>


    </div>




    <!-- ALL BLOGS -->

</div>