<div class="testimonialsContainer">


    <div class="titleContainerTESTI">


        <div class="titleTestimonials">
            Hear from our clients, then trust us
            <div class="" style="font-size: 1.2rem;">
                <br>
                Over 23K+ clients are deeply satisfied with our service since inception 
            </div>
        </div>
    </div>

    <div class="LSTC">


        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>

        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>

    </div>



    <div class="RSTC">


        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>

        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>


        
        <div class="reviewCard">
            <div class="reviewCardPattern">
                <img src="https://static.uacdn.net/production/_next/static/images/careers/yellowMask.png" alt="">
            </div>
            <div class="reviewTopRow">
                <div class="reviewImg">R</div>
                <div class="reviewTitle">
                    <div class="reviewerName">Rudra Kumar</div>
                    <div class="reviewerPosition">Senior Developer, Microsoft</div>
                </div>
            </div>
            <div class="reviewBottomRow">
                My journey from being an in-house nobody to leading the web team to building complex solutions was possible due to courses on Ed.Line. I feel empowered everyday.
            </div>
        </div>

    </div>




    </div>


</div>