.dashboard_home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 30px;
}

button{
    all: unset;
    border: 1.4px solid #002738;
    padding: 15px 28px;
    color: #00A35C;
    font-weight: 990;
    border-radius: 10px;
    background: rgba(0,163,92,.005);
}

.dashboard_home > *{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
}
