<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tab_title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">

    <style>
        {% if signup %}
            .authContainer{
                height: 570px;
            }
        {% endif %}
    </style>
</head>
<body>
    
    <img src="https://static.uacdn.net/production/_next/static/images/compete/compete-banner-bg-shade.svg?q=75&auto=format%2Ccompress&w=1920" alt="" class="bgimg">



    <div class="authContainer">







        <div class="leftPrettyAuthSection">


            <div class="authBackButton">
                <a href="/"><i class="fa-solid fa-chevron-left fa-2xs" style="scale: .9;"></i> Go Home</a>
            </div>





        </div>





        <div class="rightPrettyAuthSection">


            <div class="authTitle">
                {% if login %}
                    Login
                {% endif %}
            
                {% if signup %}
                    Join Ed.Line
                {% endif %}
            </div>


            <div class="authSubtitle">
                {% if login %}
                    or <a href="/signup/">create an account</a>
                {% endif %}
            
                {% if signup %}
                    Already have an account? <a href="/login/">Log in</a>
                {% endif %}
            </div>

            <div class="authForm">
                        {% if login %}
                        <form action="/login/" method="post">
                            {% csrf_token %}
                            <input type="text" name="{{ LF.username.name }}" id="{{ LF.username.id_for_label }}" value="{{ LF.username.value | default:'' }}" placeholder="Mobile number"> 
                            <div class="errS errMsgMobile"></div>
                            
                            <input type="password" name="{{ LF.password.name }}" id="{{ LF.password.id_for_label }}" value="{{ LF.password.value | default:'' }}" placeholder="Password"> 
                            <div class="errS errMsgPass"></div>
                            
                            <button type="submit" class="login" onclick="return isSignAllowed()">Log In</button> 
                            <div class="errS errMsgTotal" style="width: 100%;display: flex;justify-content: center !important;padding: 0;"></div>
                        </form>
                        {% endif %}
            



                        
                        {% if signup %}
                        <form action="/signup/" method="post">
                            {% csrf_token %}
                            
                            <input type="text" name="{{ SF.fname.name }}" id="{{ SF.fname.id_for_label }}" value="{{ SF.fname.value | default:'' }}" placeholder="Full Name"> 
                            <div class="errS errMsgFName"></div>

                            <input type="text" name="{{ SF.user.name }}" id="{{ SF.user.id_for_label }}" value="{{ SF.user.value | default:'' }}" placeholder="Mobile number" maxlength="10"> 
                            <div class="errS errMsgMobile"></div>

                            <input type="email" name="{{ SF.email.name }}" id="{{ SF.email.id_for_label }}" value="{{ SF.email.value | default:'' }}" placeholder="Email ID"> 
                            <div class="errS errMsgEmail"></div>

                            <input type="password" name="{{ SF.pass1.name }}" id="{{ SF.pass1.id_for_label }}" value="{{ SF.pass1.value | default:'' }}" placeholder="Password" minlength="8" maxlength="50"> 
                            <div class="errS errMsgPass"></div>

                            <input type="password" name="pass2" id="pass2" placeholder="Confirm password"> 
                            <div class="errS errMsgConfirmPass"></div>
                            
                            <button type="submit" class="login" onclick="return isSignAllowed()" style="background: var(--green);">Register</button> 
                            <div class="errS errMsgTotal" style="width: 100%;display: flex;justify-content: center !important;padding: 0;"></div>
                        </form>
                        {% endif %}
            </div>



            {% if login %}
            <div class="authTroubleBox">
                Having trouble? Write us on <a href="mailto:help.edline@gmail.com">help.edline@gmail.com</a>
            </div>
            {% endif %}
            



        </div>




    </div>


    {% if login %}
    <script>
        const MOBILE_FIELD_VALUE_FROM_BACKEND_FOR_LOGIN = "{{ given_mobile }}";
        document.getElementById("{{ LF.username.id_for_label }}").value = MOBILE_FIELD_VALUE_FROM_BACKEND_FOR_LOGIN;
        let LOGIN_ALLOWED = true;

        
        document.getElementById("{{LF.username.id_for_label}}").addEventListener("keyup",()=>{
            function validateMobile(mobile){
                if(mobile.length!=10)
                    return false;

                const regex = /^(?!0+$)\d+$/;
                return regex.test(mobile);
            }

            const ERR_X = document.getElementsByClassName("errMsgMobile")[0];
            
            if(validateMobile(document.getElementById("{{LF.username.id_for_label}}").value)){
                ERR_X.textContent = "";
                LOGIN_ALLOWED &= true;
            } else {
                ERR_X.style.color = "red";
                ERR_X.textContent = "Malformed mobile number";
                LOGIN_ALLOWED = false;
            }
        });

        

        function isSignAllowed(){
            const ERR_MOB = document.getElementsByClassName("errMsgMobile")[0];

            if(LOGIN_ALLOWED){
                ERR_MOB.textContent = "";
            } else {
                ERR_MOB.style.color = "red";
                ERR_MOB.textContent = "Invalid mobile number";
            }
            return LOGIN_ALLOWED;
        }

    </script>
    {% endif %}
    

    {% if signup %}
    <script>
        const MOBILE_FIELD_VALUE_FROM_BACKEND_FOR_SIGNUP = "{{ given_mobile }}";
        document.getElementById("{{ SF.user.id_for_label }}").value = MOBILE_FIELD_VALUE_FROM_BACKEND_FOR_SIGNUP;
        let SIGNIN_ALLOWED = true;

        document.getElementById("{{SF.user.id_for_label}}").addEventListener("keyup",()=>{
            function validateMobile(mobile){
                if(mobile.length!=10)
                    return false;

                const regex = /^(?!0+$)\d+$/;
                return regex.test(mobile);
            }

            const ERR_X = document.getElementsByClassName("errMsgMobile")[0];


            if(validateMobile(document.getElementById("{{SF.user.id_for_label}}").value)){
                ERR_X.textContent = "";
                SIGNIN_ALLOWED &= true;
            } else {
                ERR_X.style.color = "red";
                ERR_X.textContent = "Malformed mobile number";
                SIGNIN_ALLOWED = false;
            }
        });



        function isSignAllowed(){
            const ERR_MOB = document.getElementsByClassName("errMsgTotal")[0];
            
            if(document.getElementById("{{SF.user.id_for_label}}").value==''||document.getElementById("{{SF.fname.id_for_label}}").value==''||document.getElementById("{{SF.lname.id_for_label}}").value==''||document.getElementById("{{SF.email.id_for_label}}").value==''||document.getElementById("{{SF.pass1.id_for_label}}").value==''){
                ERR_MOB.style.color = "orange";
                ERR_MOB.textContent = "Empty fields exist";
                SIGNIN_ALLOWED = false;
                return false;
            }


            if(SIGNIN_ALLOWED){
                ERR_MOB.textContent = "";
            } else {
                ERR_MOB.style.color = "red";
                ERR_MOB.textContent = "Not all fields are valid";
            }

            return SIGNIN_ALLOWED;
        }
    



        function checkOneWord(n){
            let NAME = "";
            let ERR_BOX = "";
            let RE = /^[A-Za-z]+(?:\s[A-Za-z]+)?$/;

            if(n==1){
                NAME = document.getElementById("{{SF.fname.id_for_label}}");
                ERR_BOX = document.getElementsByClassName("errMsgFName")[0];
            }
            else{
                NAME = document.getElementById("{{SF.lname.id_for_label}}");
                ERR_BOX = document.getElementsByClassName("errMsgLName")[0];
            }

            console.log(NAME.value,"...",RE.test(NAME.value))
            if(RE.test(NAME.value) & NAME.value.length>1){
                ERR_BOX.textContent = "";
                SIGNIN_ALLOWED &= true;
            } else {
                ERR_BOX.style.color = "red";
                ERR_BOX.textContent = "No digits or special characters | First + Last names only";
                SIGNIN_ALLOWED = false;
            }

        }


        document.getElementById("{{SF.fname.id_for_label}}").addEventListener("keyup",() => { checkOneWord(1) });
        // document.getElementById("{SF.lname.id_for_label}}").addEventListener("keyup",() => { checkOneWord(2) });
    
    
        document.getElementById("pass2").addEventListener("keyup",() => { 

            const p1 = document.getElementById("{{ SF.pass1.id_for_label }}").value;
            const p2 = document.getElementById("pass2").value;

            const ERR_RE_PASS = document.getElementsByClassName("errMsgConfirmPass")[0];

            if(p1 == p2){
                console.log([p1,p2]);
                ERR_RE_PASS.style.color = "green";
                ERR_RE_PASS.textContent = "Passwords match!";
                SIGNIN_ALLOWED &= true;
                return;
            }

            ERR_RE_PASS.style.color = "red";
            ERR_RE_PASS.textContent = "Passwords don't match";
            SIGNIN_ALLOWED = false;

        });


        document.getElementById("{{ SF.pass1.id_for_label }}").addEventListener("keyup", () => {
            const PASS = document.getElementById("{{ SF.pass1.id_for_label }}").value;
            const ERR_PASS = document.getElementsByClassName("errMsgPass")[0];


            if(PASS==''){
                ERR_PASS.style.color = "red";
                ERR_PASS.textContent = "Password can't be empty";
                SIGNIN_ALLOWED = false;
                return;
            }

            const RE = /^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^&+=_]).*$/;

            if(RE.test(PASS)){
                if(PASS.length>8){
                    ERR_PASS.textContent = "";
                    SIGNIN_ALLOWED &= true;
                    return;
                } else {
                    ERR_PASS.style.color = "red";
                    ERR_PASS.textContent = "Password should be atleast 8 characters long";
                    SIGNIN_ALLOWED = false;
                }
            } else {
                ERR_PASS.style.color = "red";
                ERR_PASS.textContent = "Password should have atleast one lower, upper case letter, one digit, and one special character from: @#$%^&+=_";
                SIGNIN_ALLOWED = false;
            }
        });
    
    
    
    </script>
    {% endif %}


</body>
</html>