<div class="footer">

    <div class="mainFooterContainer">

        <div class="mainFooterChunk">


            <div class="contact_aboutSection">



                <div class="aboutEdLineContainer">


                    <div class="titleContainer" style="cursor: pointer;">
                        <i class="fa-solid fa-circle-nodes" style="rotate: -2deg;"></i>&nbsp;Ed.Line
                    </div>
                    <div class="descContainer footerSubWords">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, iure quaerat ipsum laudantium aperiam incidunt soluta obcaecati quos debitis vel atque praesentium reiciendis modi cumque facere enim? Sed, consequuntur esse!
                    </div>
                    <div class="getOnSiteContainer">
                        <div class="appStoreContainer">
                            <div class="iconOfBlack">
                                <i class="fa-brands fa-apple" style="color: var(--footer-light);"></i>
                            </div>
                            <div class="infoOfBlack">
                                <div class="getON" style="color: var(--footer-light);font-size: .53rem;">Download on the</div>
                                <div class="storeName" style="color: var(--footer-light);font-size: .95rem;">App Store</div>
                            </div>
                        </div>
                        <div class="playStoreContainer">
                            <div class="iconOfBlack">
                                <i class="fa-brands fa-google-play" style="color: var(--footer-light);"></i>
                            </div>
                            <div class="infoOfBlack">
                                <div class="getON" style="color: var(--footer-light);font-size: .53rem;">GET IT ON</div>
                                <div class="storeName" style="color: var(--footer-light);font-size: .95rem;">Google Play</div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="seperator">
                    <div class="SLINE"></div>
                </div>

                <div class="contactBar">

                    <div class="reachOutToUs footerBoldWords">
                        Reach out to us
                    </div>

                    <div class="reachOutDesc footerSubWords">
                        Get your questions answered about learning with Ed.Line
                    </div>

                    <div class="callContainer" style="margin-top: 12px;">
                        <div class="callIcon">
                            <div class="iconOfCall">
                                <i class="fa-solid fa-phone-volume" style="color: var(--footer-text0-light);"></i>
                            </div>
                            <div class="callOfCall">
                                Call
                            </div>
                        </div>
                        <div class="callNumber">
                            <a href="tel:+91 9123686897">+91 9123686897</a>
                        </div>
                    </div>

                </div>



            </div>


            <div class="linksSection">




                <div class="companyGrid">

                    <div class="miniLink footerBoldWords">Company</div>
                    <div class="miniLink footerSubWords"><a href="/home/">About Us</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Careers</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Blogs</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Privacy Policy</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Terms & Conditions</a></div>

                </div>



                <div class="helpSupportGrid">

                    <div class="miniLink footerBoldWords">Help & Support</div>
                    <div class="miniLink footerSubWords"><a href="/home/">User Guidelines</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Site Map</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Refund Policy</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Takedown Policy</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Grievance Redressal</a></div>

                </div>



                <div class="checkOut">

                    <div class="miniLink footerBoldWords">Products</div>
                    <div class="miniLink footerSubWords"><a href="/home/"><i class="fa-solid fa-square-up-right fa-lg" style="color: rgb(83, 140, 215);"></i> &nbsp;Educator App</a></div>

                </div>



                <div class="popularGoals">

                    <div class="miniLink footerBoldWords">Popular goals</div>
                    <div class="miniLink footerSubWords"><a href="/home/">ML/AI</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Web Development</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Digital Marketing</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Graphic Design</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Digital Art</a></div>

                </div>



                <div class="EdLineCentre">

                    <div class="miniLink footerBoldWords">Ed.Line Centre</div>
                    <div class="miniLink footerSubWords"><a href="/home/">BHU Web Dev</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Delhi Foundation</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">Gurgaon HR</a></div>

                </div>



                <div class="studyMaterial">

                    <div class="miniLink footerBoldWords">Study material</div>
                    <div class="miniLink footerSubWords"><a href="/home/">Web Study Material</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">AI/ML Study Material</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">CSX Study Material</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">SEO Study Material</a></div>
                    <div class="miniLink footerSubWords"><a href="/home/">HR Study Material</a></div>

                </div>




            </div>



        </div>







        <div class="bottomLine">
            
            <div class="copyrightContainer">
                © {{year | default:'2023'}} RK Group Learning Pvt Ltd
            </div>

            <div class="linksContainer">


                <div class="instaContainer" style="display: flex;align-items: center;justify-content: center;">
                    <i class="fa-brands fa-instagram fa-sm" style="color: var(--footer-text0-light);"></i>
                </div>
                <div class="youtubeContainer" style="display: flex;align-items: center;justify-content: center;">
                    <i class="fa-brands fa-youtube fa-sm" style="color: var(--footer-text0-light);"></i>
                </div>
                <div class="facebookContainer" style="display: flex;align-items: center;justify-content: center;">
                    <i class="fa-brands fa-meta fa-sm" style="color: var(--footer-text0-light);"></i>
                </div>
                <div class="twitterContainer" style="display: flex;align-items: center;justify-content: center;">
                    <i class="fa-brands fa-x-twitter fa-sm" style="color: var(--footer-text0-light);"></i>
                </div>
                <div class="linkedinContainer" style="display: flex;align-items: center;justify-content: center;">
                    <i class="fa-brands fa-linkedin fa-sm" style="color: var(--footer-text0-light);"></i>
                </div>


            </div>


        </div>



    </div>


</div>



<script>
    document.querySelector(".aboutEdLineContainer .titleContainer").addEventListener("click", () => {
        window.location.href = "/home/";
    });
</script>