<div class="burgerProfileSection">
    <div class="burgerSectionalTitle">My Profile</div>
    <div class="burgerSectionMainBoxContainer">



        <div class="burgerBars">




        </div>




        <div class="burgerBars">




        </div>





    </div>

    <div class="burgerSectionMainBoxContainer" style="border-radius: 300px;">
        <div class="burgerBars brgrMB" style="cursor: default; padding: 5px; ">
            <div class="burgerBarDesc">
                <div class="brIcon">
                    <i class="fa-regular fa-sun"></i>
                </div>
            </div>
            <div class="burgerBarDesc">
                <div class="brIcon">
                    <i class="fa-solid fa-gear"></i>
                </div>
            </div>
            <div class="burgerBarDesc">
                <div class="brIcon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="burgerMyLearningSection">
    <div class="burgerSectionalTitle">My Learning</div>
    <div class="burgerSectionMainBoxContainer">
        <div class="burgerBars"></div>
        <div class="burgerBars" style="border-bottom: none;">
            <div class="burgerBarDesc">Go to My Learning</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-chevron-right" style="scale: .8;"></i>
            </div>
        </div>
    </div>
</div>


<div class="burgerPopularSection">
    <div class="burgerSectionalTitle">Popular Categories</div>
    <div class="burgerSectionMainBoxContainer categoriesBurger">
        <div class="burgerBars">
            <div class="burgerBarDesc">Development</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-code" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Business</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-business-time" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Finance/Accounting</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-indian-rupee-sign" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">IT & Software</div>
            <div class="burgerBarArrow">
                <i class="fa-brands fa-uncharted" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Office Productivity</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-user-tie" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Self Development</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-check" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Design</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-palette" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Marketing</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-bullseye" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Health & Fitness</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-heart" style="scale: 1.32;"></i>
            </div>
        </div>
        <div class="burgerBars">
            <div class="burgerBarDesc">Music</div>
            <div class="burgerBarArrow">
                <i class="fa-solid fa-guitar" style="scale: 1.32;"></i>
            </div>
        </div>
    </div>
</div>

<div class="burgerFooterSection">
    <div class="burgerSectionMainBoxContainer burgerBottom">
        <div class="bbr1">
            <a href="/">Terms & Conditions</a> &nbsp; • &nbsp;<a href="/">Privacy Policy</a>
        </div>
        <div class="bbr2">
            <a href="/">About</a> &nbsp; • &nbsp; <a href="/">Careers</a> &nbsp; • &nbsp; <a href="/">Blog</a>
        </div>
        <div class="bbr3">
            
            <div class="instaContainer" style="display: flex;align-items: center;justify-content: center;">
                <i class="fa-brands fa-instagram fa-sm" style="color: var(--burger-subtitle-light);"></i>
            </div>
            <div class="youtubeContainer" style="display: flex;align-items: center;justify-content: center;">
                <i class="fa-brands fa-youtube fa-sm" style="color: var(--burger-subtitle-light);"></i>
            </div>
            <div class="facebookContainer" style="display: flex;align-items: center;justify-content: center;">
                <i class="fa-brands fa-meta fa-sm" style="color: var(--burger-subtitle-light);"></i>
            </div>
            <div class="twitterContainer" style="display: flex;align-items: center;justify-content: center;">
                <i class="fa-brands fa-x-twitter fa-sm" style="color: var(--burger-subtitle-light);"></i>
            </div>
            <div class="linkedinContainer" style="display: flex;align-items: center;justify-content: center;">
                <i class="fa-brands fa-linkedin fa-sm" style="color: var(--burger-subtitle-light);"></i>
            </div>

        </div>
        <div class="bbr4">
            © {{year | default:'2023'}} RK Group Learning Pvt Ltd
        </div>
    </div>  
</div>