
    
<div class="header">

    <div class="miniScreen">

        <!-- <div class="hamburgerContainer">
            <div class="hamburger">
                <i class="fa-solid fa-bars fa-lg" style="color: #545454;"></i>
            </div>
        </div> -->

        <div class="titleContainer">
            <div class="title" style="font-size: 140%;">
                <i class="fa-solid fa-circle-nodes" style="rotate: -2deg;scale: 1.22;"></i>&nbsp;Ed.Line
            </div>
        </div>

        <div class="miniRightContainer" style="display: flex;gap: 7px;align-items: center;justify-content: flex-end;padding: 0;">
            
            <!-- STREAK BUTTON -->
            <div class="notificationContainer" style="width: auto;">
                <div class="streakShow" style="background: var(--mini-streak-light);">
                    <div class="streakSection" style="padding: 0 9px 0 0;">
                        <div class="streakImg"><img src="https://static.uacdn.net/production/_next/static/images/layout/header/current_streak.svg?q=75&auto=format%2Ccompress&w=48" alt="" class="yess" style="padding-right: 0;"></div>
                        <div class="streakTime">10m</div>
                    </div>
                    <div class="streakSection" style="padding: 0;">
                        <div class="streakImg" style="padding: 0;"><img src="https://static.uacdn.net/production/_next/static/images/layout/header/current_streak.svg?q=75&auto=format%2Ccompress&w=48" alt="" style="padding-right: 0;"></div>
                        <div class="streakTime"></div>
                    </div>
                </div>
            </div>

            <!-- SHOW PROFILE -->
            <div class="profileContainer" style="width: 50px;aspect-ratio: 1;padding-right: 0;">
                <div class="profile">{{ username }}</div>
            </div>



        </div>

    </div>



    <div class="largeScreen">

        <div class="mainBar">

            <div class="leftSection">

                <div class="titleContainer" style="margin-left: 4px;">
                    <div class="title">
                        <i class="fa-solid fa-circle-nodes" style="rotate: -2deg;scale: 1.22;"></i>&nbsp;Ed.Line
                    </div>
                </div>

            </div>

            <div class="rightSection">

                <!-- SEARCH BAR -->
                <div class="searchContainer" style="margin-right: 25px;">
                    
                    <div class="search_placeholder">
                        <i class="fa-solid fa-magnifying-glass fa-xs" style="color: #545454;margin-right: 8px;margin-bottom: -2px;"></i> <div>Search</div>
                    </div>
                    <div class="searchField">
                        <input type="text" name="searchvalue" id="searchbar" >
                    </div>

                </div>
                
                <!-- MY COURSES -->
                <div class="wishlistContainer" style="height:100%;display: flex;flex-direction: column;align-items: center;justify-content: center;width: 65px;margin-bottom: -18px;" onclick="location.href = '/home/courses/';">
                    <i class="fa-solid fa-icons fa-lg pqr"></i>
                    <div class="abcd" style="padding-top: 12px;font-size: .65rem;">Courses</div>
                </div>
                
                <!-- MY LEAERNING -->
                <div class="myLearningContainer" style="height:100%;display: flex;flex-direction: column;align-items: center;justify-content: center;width: 65px;margin-bottom: -18px;" onclick="location.href = '/home/my-learning/enrolled/';">
                    <i class="fa-solid fa-folder-tree fa-lg pqr"></i>
                    <div class="abcd" style="padding-top: 12px;font-size: .65rem;">My Learning</div>
                </div>

                <!-- LEARNING STREAK -->
                <div class="notificationContainer" style="width: 170px;">
                    <div class="streakShow">
                        <div class="streakSection">
                            <div class="streakImg"><img src="https://static.uacdn.net/production/_next/static/images/layout/header/current_streak.svg?q=75&auto=format%2Ccompress&w=48" alt="" class="yess" style="padding-right: 0;"></div>
                            <div class="streakTime">10min</div>
                        </div>
                        <div class="streakSection">
                            <div class="streakImg"><img src="https://static.uacdn.net/production/_next/static/images/layout/header/current_streak.svg?q=75&auto=format%2Ccompress&w=48" alt="" style="padding-right: 0;"></div>
                            <div class="streakTime">4 days</div>
                        </div>
                    </div>
                </div>

                <!-- SHOW PROFILE -->
                <div class="profileContainer" style="width: 60px;">
                    <div class="profile">{{ username }}</div>
                </div>


            </div>


        </div>

        <div class="fieldsBar">

            <div class="categoriesSection">
                <div class="fieldContainer a"><a href="/home/courses/development/">Development</a></div>
                <div class="fieldContainer b"><a href="/home/courses/business/">Business</a></div>
                <div class="fieldContainer c"><a href="/home/courses/finance-and-accounting/">Finance & Accounting</a></div>
                <div class="fieldContainer d"><a href="/home/courses/it-and-software/">IT & Software</a></div>
                <div class="fieldContainer e"><a href="/home/courses/office-productivity/">Office Productivity</a></div>
                <div class="fieldContainer f"><a href="/home/courses/personal-development/">Personal Development</a></div>
                <div class="fieldContainer g"><a href="/home/courses/design/">Design</a></div>
                <div class="fieldContainer h"><a href="/home/courses/marketing/">Marketing</a></div>
                <div class="fieldContainer i"><a href="/home/courses/health-and-fitness/">Health & Fitness</a></div>
                <div class="fieldContainer j"><a href="/home/courses/music/">Music</a></div>
            </div>
            

        </div>

    </div>

</div>

<script>

    /* HIDE TAGS OF SECOND HEADER ROW ON RESIZE --------------------------------- */

    document.querySelector(".leftSection .titleContainer").addEventListener("click",() => {
        window.location.href = "/home/";
    })











    /* HIDE TAGS OF SECOND HEADER ROW ON RESIZE --------------------------------- */
    window.addEventListener("resize", () => { hideTags(); } );

    (() => { hideTags(); })();


    function hideTags(){
        
        const homeTags = document.getElementsByClassName("fieldContainer");
        const w = window.innerWidth;

        if(w<1310){
            document.getElementsByClassName("j")[0].style.display = "none";
            if(w<1240){
                document.getElementsByClassName("i")[0].style.display = "none";
                if(w<1080){
                    document.getElementsByClassName("h")[0].style.display = "none";
                    if(w<980){
                        document.getElementsByClassName("g")[0].style.display = "none";
                        if(w<910){
                            document.getElementsByClassName("f")[0].style.display = "none";
                        }
                    }
                }
            }

        }
        
        if(w>910){
            document.getElementsByClassName("f")[0].style.display = "flex";
            if(w>980){
                document.getElementsByClassName("g")[0].style.display = "flex";
                if(w>1080){
                    document.getElementsByClassName("h")[0].style.display = "flex";
                    if(w>1240){
                        document.getElementsByClassName("i")[0].style.display = "flex";
                        if(w>1310){
                            document.getElementsByClassName("j")[0].style.display = "flex";
                        }
                    }
                }
            }
        }





        if(w>1310){
            document.getElementsByClassName("j")[0].style.display = "flex";

            if(w>1230){
                document.getElementsByClassName("i")[0].style.display = "flex";

                if(w>1080){
                    document.getElementsByClassName("h")[0].style.display = "flex";

                    if(w>980){
                        document.getElementsByClassName("g")[0].style.display = "flex";


                    }
                }
            }
        }

    }



</script>
