

<div class="errorField">

    <div class="errorImg">
        <img src="https://static.uacdn.net/production/_next/static/images/error.svg?q=75&auto=format%2Ccompress&w=828" alt="">
    </div>


    <div class="err_title">
        {% if bad_request %}
            Page Not Accessible...
        {% endif %}

        {% if bad_route %}
            Oops! Page not found...
        {% endif %}
    </div>

    <div class="err_subtitle">
        {% if bad_request %}
            The requested method was unauthorized
        {% endif %}

        {% if bad_route %}
            Looks like you're looking for something that doesn't exist.
        {% endif %}
    </div>

    
    <div class="goHome_btn">
        <a href="/">Go Home</a>
    </div>



</div>