.aboutUs{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.aboutUs > *{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.aboutUsTitle, .aboutUsImg{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 990;
    font-size: 4rem;
    padding-left: 20px;
}

.aboutUsBlogs{
    background: #75d8ba;
}
.aboutUsBlogs a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 990;
    font-size: 1.8rem;
}








.trustedCompaniesRibbon{
    flex-direction: column;
    gap: 30px;
    background: rgba(166,166,166,.15);
    padding: 40px 20px;
}

.tct{
    font-weight: 990;
    font-size: 1.2rem;
    color: gray;
    letter-spacing: .3px;
}

.tctIcons{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 130px;
    gap: 80px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tctIcon, .tctIcon img{
    height: 40px;
}




.aboutLast{
    gap: 80px;
    padding: 45px;
    margin: 100px 0 30px;
}

.ALB{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    border-radius: 15px;
    color: rgba(0,0,0,0.7);
    cursor: pointer;

}

.ALB:hover{
    scale: 1.01;
}


.ALB > *{
    width: 100%;
}

.ALBT{
    font-size: 1.9rem;
    margin-bottom: 10px;
    font-weight: 990;
}

.ALBL{
    margin-top: 60px;
}

.ALBL a{
    text-decoration: none;
    font-weight: 990;
    font-size: 1.1rem;
    color: rgba(0,0,0,0.75);
}




.keepGrowingRibbon{
    background: #5624D0;
    margin-top: 100px;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
    padding-top: 64px;
    padding-bottom: 32px;
    letter-spacing: .3px;

}

.weJustKeepGrowingNumberRow{
    display: flex;
    gap: 70px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.3rem;
    height: 180px;
}

.weJustKeepGrowingNumberRow > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fred{
    align-self: flex-end;
}

.weJustKeepGrowingTitle, .wjkgnMT{
    font-weight: 990;
    font-size: 2rem;
}

.weJustKeepGrowingSubTitle{
    font-size: .9rem;
    padding-bottom: 10px;
    color: rgba(255,255,255,.7);
}





.learnMore{
    margin: 140px 0;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    gap: 40px;
    padding: 0 200px;
    font-size: 1.2rem;
}

.learnMore a{
    text-decoration: none;
    padding: 12px 22px;
    background: black;
    color: aliceblue;
    letter-spacing: .3px;
}





.aboutUsTwo{
    margin: 105px 0;
    padding: 0 280px;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.aboutUs2Title{
    font-size: 1.8rem;
}




.aboutUsPages{
    margin: 50px 0;
    padding: 0 90px;
    flex-direction: column;
    gap: 85px;
    font-size: 1.2rem;
    margin-top: 190px;
}


.aboutUsPages > *{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    overflow: hidden;
    
}

.aboutUsRight{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.aboutUsLeft{
    width: 55%;
    overflow: hidden;
    height: 100%;
}

.aboutUsLeft img{
    width: 100%;
    height: 100%;
    scale: 1.05;
}


.aboutUsRight{
    padding: 30px;
    padding-right: 200px;
}

.aboutUsTTT{
    font-weight: 990;
    font-size: 2rem;
}