.galleryContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}


.galleryHeader{
    width: 100%;
    height: calc(100vh - 63.33px);
    overflow: hidden;
    display: grid;
    
}   


.galleryHeader > *{
    grid-column-start: 1;
    grid-row-start: 1;
}



.otherHeader{
    background: #121212;
    color: aliceblue;
    font-size: 2.5rem;
    height: 63.33px;
    overflow: visible;
    z-index: 90;
    justify-content: center;
}
.otherHeader .titleContainer{
    margin-top: 70px;
    z-index: 90;
    color: aliceblue;
    font-weight: 990;
    letter-spacing: .3px;
}

.GallData{
    background: linear-gradient(#121212,#12121275 25%,#12121250 50%, #12121225 75%,transparent);
    z-index: 10;
}

.mainGallImg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.mainGallImg img{
    width: 100%;
    height: auto;   
}


.GallData{
    color: aliceblue    ;
    display: flex;
    align-items: center;
    position: relative;
}

.galleryTitle{
    width: 100%;
    padding: 45px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    font-size: 1.1rem;
    gap: 5px;
}
.galleryMainTitle{
    font-weight: 990;
    letter-spacing: .3px;
    font-size: 1.6rem;
}
.gallerySubTitle{
    font-size: .9rem;
}
.seperator1{
    color: aliceblue;
    padding: 8px 0 10px;
    width: 200px;
}


.galleryGoLeft,.galleryGoRight{
    scale: 1.6;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(-90deg, #12121290, transparent);
    cursor: pointer;
}
.galleryGoLeft{
    left: 0;
    position: relative;
    background: linear-gradient(90deg, #12121290, transparent);
}
.galleryGoLeft:hover,.galleryGoRight:hover{
    scale: 1.4  ;
}


/* GRID SECTION */


.gridGallerySection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: var(--purple);
}

.gridGalRow1{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
}

.ggr1ls{
    width: 450px;
    padding: 30px;
    font-size: 2.7rem;
    font-weight: 990;
    letter-spacing: .6px;
    color: aliceblue;
}
.ggr1rs{
    width: calc(100% - 450px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.ggr1rs .pics{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    aspect-ratio: 3.56;
    
}

.ggr1rs .pics .pic1, .ggr1rs .pics .pic2{
    width: 50%;
    height: 270px;
    overflow: hidden;
}
.ggr1rs .pics img{
    width: 100%;
}

.ggr1rs .write1{
    padding: 30px;
    font-size: 2.1rem;
    font-weight: 990;
    letter-spacing: .6px;
    color: aliceblue;
    background: var(--blue);
}


.gridGalRow2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
}

.pic20{
    width: 200px;
    height: 781.5px;
    overflow: hidden;
    margin-top: -130px;
}

.pic20 img{ height: 100%; object-fit: cover;}


.container87{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.c87r2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
}

.c87r2c1, .c87r2c2{
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    
}

.c87r2c1main,
.c87r2c2main,
.c87r2c1smaller,
.c87r2c2smaller{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    overflow: hidden;
    height: 100px;

}
.c87r2c1main,
.c87r2c2main{
    height: 314px;
}

.pic55{
    width: 33.33333333333%;
    overflow: hidden;
}

.pic55 img, .c87r2c1main img, .c87r2c2main img{
    width: 100%;
    scale: 1.08;
}

.c87r2c2{
    flex-direction: column-reverse;
}

.c87r1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.c87r1b1,.c87r1b2{
    aspect-ratio: 1.4;
    height: 249px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c87r1b1 img,.c87r1b2 img{
    height: 100%;
    transform: translateX(-2px);
}


.c87r1b3{
    width: 940px;
    font-size: 2.1rem;
    font-weight: 990;
    letter-spacing: .6px;
    color: aliceblue;
    padding: 30px;
}


.boxbb{
    height: 130px;
    width: 100%;
    background: var(--green);
    position: absolute;
    display: flex;
    align-self: flex-end;
    z-index: 0;
}

.write1, .pic20{
    z-index: 2;
}

.pic55{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: aliceblue;
       
}