$color_1: var(--footer-play-btn-light);
$color_2: var(--text1-light);
$color_3: white;
$color_4: transparent;
$color_5: var(--blue);
$color_6: var(--purple);
$color_7: var(--footer-text1-light);

/* BIGGER COURSE TAB */
/* VIDEO TAB HERE =========================== */
.specificCourse {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}
@media (max-width: 60000px) {
	.courseFilterSpace {
		width: 1080px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 15px;
		margin-bottom: 85px;
	}
	.courseTitleContainer {
		width: 1080px;
		margin-bottom: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		margin-top: 40px;
		font-size: 1.76rem;
		color: $color_1;
		letter-spacing: .3px;
		font-weight: 990;
	}
	.subCoursesBox {
		width: 220px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
		padding: 20px 15px;
		justify-content: flex-start;
		border-radius: 15px;
		background: var(--footer-hover-light);
	}
	.stfb {
		font-weight: 990;
		font-size: 0.9rem;
		white-space: nowrap;
	}
	.subCourseContainer {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		>* {
			width: fit-content;
			margin: 2px;
			padding: 4px 10.5px;
			border: 1.2px solid var(--footer-btn-hover-light);
			border-radius: 300px;
			font-size: 0.75rem;
		}
	}
	.courseFilterPane {
		width: calc(100% - 235px);
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.courseFilterPane2 {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 20px 0 0;
		>* {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			>* {
				display: flex;
				gap: 10px;
			}
		}
	}
	.courseFilterTab {
		padding: 0 0 10px 0;
		font-size: 0.95rem;
	}
	.filterButton {
		text-decoration: none;
		background: transparent;
		border: none;
		font-size: 0.88rem;
		outline: none;
		color: $color_2;
	}
	#sortByOption {
		text-decoration: none;
		background: transparent;
		border: none;
		font-size: 0.88rem;
		outline: none;
		color: $color_2;
	}
	.filterSortButtonSection {
		color: $color_2;
		>* {
			background: rgba(30, 30, 30, 0.06);
			padding: 5px 11.5px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 300px;
			font-size: 0.88rem;
		}
	}
	.mostPopularVideosTab {
		width: 1080px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	.popularCourses {
		background: rgba(255, 89, 89, 0.12);
	}
	.allCourseSection {
		font-weight: 990;
	}
	.allCoursesList {
		width: 100%;
		padding: 10px 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		gap: 17px;
		>* {
			width: 100%;
		}
	}
	.coursePagesNavigatorBar {
		padding: 15px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		scale: 0.9;
	}
	.goLeftPage {
		padding: 2px 12px 0;
	}
	.goRightPage {
		padding: 2px 12px 0;
	}
	.courseTab2 {
		padding: 7px 15px;
		box-shadow: 0px 5px 10px 0px var(--color-shadow1-light);
		background: var(--bgcolor1-light);
		border-radius: 10px;
		height: 85px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 120px;
	}
	.courseImg {
		padding: 10px 0;
	}
	.courseNamePFPpreference {
		white-space: nowrap;
		font-size: 0.7rem;
	}
	.historyTab {
		background: var(--footer-hover2-light);
		margin-bottom: 70px;
		border-radius: 15px;
		margin-left: 10px;
		width: calc(100% - 10px);
		gap: 0;
	}
	.videoHistory {
		padding: 15px;
	}
	.videoTab2 {
		height: 210px;
		padding: 0;
		min-width: 200px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		overflow: hidden;
	}
	.vidThumbnailPFP2 {
		height: 100%;
		overflow: hidden;
		background: black;
		display: grid;
		width: 60%;
		>* {
			grid-row-start: 1;
			grid-column-start: 1;
			justify-self: stretch;
			align-self: stretch;
		}
	}
	.thumbnailImgBox2 {
		width: auto;
		height: 100%;
		display: flex;
		align-items: center;
		img {
			width: auto;
			width: 100% !important;
			height: auto !important;
			min-height: 100%;
		}
	}
	.thumbnailOtherBox2 {
		width: 100%;
		height: 100%;
		z-index: 23;
		color: $color_3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		background: linear-gradient( 18deg, rgba(0, 0, 0, 0.75), transparent, transparent );
	}
	.vidDetails2 {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
		overflow-y: scroll;
		gap: 3px;
		>* {
			width: 100%;
			font-size: 1rem;
		}
	}
	.vidProgressBar {
		height: 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		>* {
			height: 100%;
			color: $color_4;
		}
	}
	.vidProgressed {
		width: calc(100% * 0.35);
		background: var(--blue);
	}
	.vidUnprogressed {
		width: calc(100% - calc(100% * 0.35));
		background: var(--footer-text1-light);
	}
	.vidTags {
		height: 22px;
		padding: 2px 7px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1px;
		>* {
			height: 100%;
			padding: 1.2px 3px;
			font-size: 0.58rem;
			font-weight: 990;
			display: flex;
			align-items: center;
			letter-spacing: 0.1px;
		}
	}
	.vidCreatorRow {
		height: 22px;
		padding: 2px 7px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1px;
		gap: 5px;
	}
	.languageTag {
		border: 1px solid var(--blue);
		border-radius: 3px;
		color: $color_5;
		background: rgba(64, 247, 247, 0.1);
	}
	.courseTypeTag {
		color: $color_6;
	}
	.vidTitle2 {
		font-weight: 990;
		font-size: 1.3rem;
		padding: 0 7px;
	}
	.vidRatings {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1px;
		>* {
			font-size: 0.62rem;
			font-weight: 990;
			color: $color_7;
		}
	}
	.vidCreatorAbout {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1px;
		>* {
			font-size: 0.62rem;
			font-weight: 990;
			color: $color_7;
		}
	}
	.creatorIconXS {
		padding: 2px 2.5px 2px 4px;
		img {
			width: 12px;
			border-radius: 300px;
			aspect-ratio: 1;
			justify-self: flex-end;
		}
	}
	.otherVidDetailsRow {
		display: flex;
		align-items: center;
		padding: 2px 7px 5px;
		gap: 5px;
		justify-content: flex-start;
		>* {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: flex-start;
			color: $color_7;
			font-size: 0.55rem;
		}
	}
	.courseHeaders {
		width: 100%;
		padding: 15px 0 0;
		font-weight: 990;
		padding: 15px 15px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.headerL {
		font-size: 0.9rem;
	}
	.headerR {
		font-size: 0.7rem;
		padding: 8px 15px;
		background: rgba(0, 133, 126, 0.08);
		border-radius: 15px;
	}
	.thumbnailDotBox {
		&:hover {
			background: rgba(255, 255, 255, 0.3);
			border-radius: 300px;
			scale: 1.05;
		}
		cursor: pointer;
	}
	.courseTab {
		cursor: pointer;
		&:hover {
			scale: 1.05;
		}
	}
}
@media (max-width: 1080px) {
	.specificCourse {
		gap: 5px;
	}
	.courseFilterSpace {
		width: 100vw;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-start;
		padding: 0 20px;
	}
	.subCoursesBox {
		width: 100%;
		flex-direction: row;
		overflow-x: scroll;
		align-items: center;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.subCourseContainer {
		flex-wrap: nowrap;
		>* {
			margin: 2px 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
		}
	}
	.courseFilterPane {
		width: 100%;
	}
	.mostPopularVideosTab {
		width: 100%;
		padding: 0 20px 15px;
	}
	.vidThumbnailPFP2 {
		width: 65%;
	}
}
@media (max-width:1000px) {
	.courseTitleContainer {
		width: 100%;
		padding: 0 20px;
		margin-bottom: 32px;
	}
}
@media (max-width: 800px) {
	#aege {
		display: none;
	}
	.vidThumbnailPFP2 {
		width: 80%;
	}
}
@media (max-width:590px) {
	.courseTitleContainer {
		margin-bottom: 20px;
		margin-top: 55px;
	}
}
@media (max-width: 425px) {
	.videoTab2 {
		flex-direction: column;
		height: auto;
		>* {
			width: 100%;
		}
	}
	.vidDetails2 {
		margin-bottom: 7px;
	}
	.courseTitleContainerSP {
		align-items: center;
		justify-content: center;
	}
	.courseFilterTab {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
}
