$color_1: var(--text0-light);
$color_2: var(--bgcolor0-light);
$color_3: #fff;
$color_4: inherit;
$color_5: #545454;
$color_6: var(--orange);
$border-color_1: var(--text0-light);
$border-color_2: var(--blue);

.header {
	width: 100%;
	height: 100%;
	display: grid;
	background: var(--bgcolor1-light);
	>* {
		grid-row-start: 1;
		grid-column-start: 1;
		align-self: stretch;
		justify-self: stretch;
	}
}
.title {
	font-size: 165%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.miniScreen {
	justify-content: space-between;
	align-items: center;
	padding: 5px 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,.01), 0 4px 12px rgba(0,0,0,.01);
	>* {
		padding: 8px;
	}
}
.hamburger {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.search {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.largeScreen {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: "center";
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 12px rgba(0,0,0,.1);
	>* {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.mainBar {
	height: 72px;
	padding: 0 24px;
}
.fieldsBar {
	height: calc( 100% - 72px );
	border-top: .7px solid rgba(155, 155, 155, .6);
	display: grid;
	width: 100%;
	>* {
		grid-column-start: 1;
		grid-row-start: 1;
		display: flex;
		width: 100vw;
		height: 100%;
		align-items: center;
		position: relative;
		justify-content: center;
		align-self: stretch;
		justify-self: stretch;
	}
}
.categoriesSection {
	>* {
		padding: 8px 16px;
		height: 32px;
		margin: 0 6px;
		border: .7px solid rgba(155, 155, 155, .6);
		font-size: .88rem;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-x: scroll;
		width: auto;
		cursor: pointer !important;
	}
}
.fieldContainer {
	a {
		text-decoration: none;
		color: $color_1;
	}
	&:hover {
		border-color: $border-color_1;
		background: var(--blue);
		border-color: $border-color_2;
		transition: .33s;
		a {
			color: $color_2;
			transition: .33s;
		}
	}
}
.rightSection {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	>* {
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 8px;
		cursor: pointer;
	}
}
.searchContainer {
	display: grid;
	width: 220px;
	justify-content: flex-end;
	>* {
		grid-column-start: 1;
		grid-row-start: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
.searchField {
	margin-right: -20px;
	input {
		outline: none;
		text-decoration: none;
		background: transparent;
		height: 45px;
		border: .7px solid rgba(155, 155, 155, .6);
		padding: 7px 20px 7px 13px;
		border-radius: 30px;
		text-align: right;
	}
}
.profileContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile {
	width: 45px;
	height: 45px;
	background: var(--text0-light);
	color: $color_3;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#searchbar {
	cursor: text;
	&:hover {
		border-color: $border-color_2;
	}
	&:focus {
		border-color: $border-color_2;
	}
}
.myLearningContainer {
	a {
		text-decoration: none;
		color: $color_4;
	}
	&:hover {
		color: $color_6;
		transition: .05s;
	}
}
.streakShow {
	height: 28px;
	background: var(--streak-light);
	border-radius: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 6px 0 6px;
	scale: 1.01;
	&:hover {
		scale: 1.027;
	}
}
.streakSection {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 6px;
	>* {
		padding: 0 3px;
	}
}
.streakTime {
	font-weight: 990;
	font-size: .75rem;
	padding-top: 1px;
	padding-left: 0;
}
.streakImg {
	img {
		scale: .8;
		padding-top: 4px;
	}
}
.yess {
	filter: hue-rotate(153deg);
	opacity: .7;
}
.pqr {
	color: $color_5;
}
.wishlistContainer {
	&:hover {
		color: $color_6;
		transition: .05s;
	}
}
@media (max-width: 60000px) {
	.miniScreen {
		display: none;
	}
	.largeScreen {
		display: flex;
	}
	.header {
		height: 120px;
	}
}
@media (max-width: 800px) {
	.miniScreen {
		display: flex;
		z-index: 201;
		background: var(--bgcolor1-light);
	}
	.largeScreen {
		display: none;
	}
	.header {
		height: 56px;
	}
}
