<div class="profileWrapper">




    <div class="closeButtonPFP">
        <i class="fa-solid fa-xmark crossBPFP" style="scale: 1.4;"></i>
    </div>
    
    <div class="headerSectionPFP">

        <div class="profileBigImg">
            {% if user.image is None %}
                <img src="https://static.uacdn.net/thumbnail/user/default.png?q=75&auto=format%2Ccompress&w=256" alt="">
            {% else %}
                HI
            {% endif %}
            
        </div>
        <div class="namePlates">
            <div class="headerTitlePFP">{{full_name}}</div>
            <div class="headerDescPFP" style="color: var(--footer-btn-hover-light);">Joined {{join_date}}</div>
            <div class="badgeArea">
                <div class="badge1">
                    <img src="https://static.uacdn.net/thumbnail/learner_hat_icon/green-hat.png" alt="">
                </div>
                {% if badge2 %}
                    <div class="badge2">Y</div>
                {% endif %}
                {% if badge3 %}
                    <div class="badge3">Z</div>
                {% endif %}
                {% if remainder_badges %}
                    <div class="otherBadges">+{{remainder_badges}}</div>
                {% endif %}
            </div>
        </div>
    </div>




    <div class="profileInsights">
        <div class="watchMinsPFP">
            <div class="wmn" >{{total_watch_mins | default:'9h 16m'}}</div>
            <div class="wmt">Total Watch Time</div>
        </div>

        
        <div class="followedPFP">
            <div class="fn">{{total_followed | default:'78'}}</div>
            <div class="ft">Educators Followed</div>
        </div>

        
        <div class="xPFP">
            <div class="xn">{{x | default:'...'}}</div>
            <div class="xt">...</div>
        </div>
    </div>




    
    <div class="linksPFP">
        <div class="settingsBarPFP">
            <div class="themeMode">
                {% if theme == 'light' %}
                    L
                {% elif theme == 'dark' %}
                    D
                {% else %}
                <i class="fa-regular fa-sun" style="rotate: 22.5deg;"></i> <div class="themeNamePFP">&nbsp; &nbsp; Light</div>
                {% endif %}
            </div>

            <div class="settingsPFPbar" onclick="location.href='/user/settings/'">
                <div class="settingsIconPFP">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="settingsNamePFP">
                    Settings &nbsp; &nbsp; <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div>

        <div class="preferredCourses">

            <div class="goToBtn">
                <div class="goToA">
                    Courses
                </div>
                <div class="goToB">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>


            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-code fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_1 | default:'Development'}}</div>
            </div>


            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'Business'}}</div>
            </div>

            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-code fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_1 | default:'Finance & Accounting'}}</div>
            </div>


            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'IT & Software'}}</div>
            </div>

            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-code fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_1 | default:'Office Productivity'}}</div>
            </div>


            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'Perosnal Development'}}</div>
            </div>

            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-code fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_1 | default:'Design'}}</div>
            </div>


            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'Marketing'}}</div>
            </div>

            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-code fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_1 | default:'Lifestyle'}}</div>
            </div>


            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'Photography & Video'}}</div>
            </div>


            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'Music'}}</div>
            </div>


            
            
            <div class="courseTab">
                <div class="courseImg">
                    <i class="fa-solid fa-palette fa-lg"></i>
                </div>
                <div class="courseNamePFPpreference">{{course_preference_2 | default:'Teaching & Academics'}}</div>
            </div>


            
            

            {% if course_preference_3 %}
            <div class="courseTab">
                <div class="courseImg">
                    {{course_img3 | default:'DEV'}}
                </div>
                <div class="courseNamePFPpreference">{{course_preference_3 | default:'Health & Fitness'}}</div>
            </div>
            {% endif %}



        </div>
    </div>

    <div class="linksPFP historyTab">

        <div class="courseHeaders">
            <div class="headerL">
                <i class="fa-solid fa-clock-rotate-left"></i> &nbsp; History
            </div>
            <div class="headerR" onclick="location.href='/user/my-learning/'">
                Go to My Learning
            </div>
        </div>

        <div class="preferredCourses videoHistory" style="background: none;">

            {% for x in history %}
            <div class="courseTab videoTab">
                <div class="vidThumbnailPFP">
                    <div class="thumbnailImgBox">
                        <img src="{{x.thumbnail}}" alt="">
                    </div>
                    <div class="thumbnailOtherBox">
                        <div class="thumbnailDotBox" style="padding: 7px 15px;align-self: flex-end;">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        {% if x.last_lesson %}
                        <div class="vidSubTitle" style="font-size: .65rem;font-weight: 990;padding-bottom: 15px;color: rgba(255,255,255,0.95);">
                            &nbsp;&nbsp;<i class="fa-solid fa-pause"></i> &nbsp; {{x.last_lesson}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="vidDetails">

                    {% if x.progress %}
                    <div class="vidProgressBar">
                        <div class="vidProgressed">w</div>
                        <div class="vidUnprogressed">w</div>
                    </div>
                    {% endif %}

                    <div class="vidTags">
                        <div class="languageTag">{{x.language}}</div>
                        <div class="courseTypeTag">{{x.courseType}}</div>
                    </div>

                    <div class="vidTitle">
                        {{x.title}}
                    </div>
                    
                    <div class="vidCreatorRow">

                        <div class="vidRatings">
                            <div class="ratingStarIcon">
                                <i class="fa-solid fa-star" style="color: #ffdd00;"></i>
                            </div>
                            <div class="ratingRate">{{x.rating}}</div>
                            {% if total_ratings %}
                            <div class="ratingTotal">({{total_ratings}})</div>
                            {% endif %}
                        </div>

                        <div class="vidCreatorAbout">
                            <div class="creatorIconXS">
                                <img src="{{x.educator_pfp | default:'https://static.uacdn.net/thumbnail/user/default.png?q=75&auto=format%2Ccompress&w=256' }}" alt="">
                            </div>
                            <div class="creatorName">
                                {{x.educator_name}}
                            </div>
                        </div>

                    </div>

                    <div class="otherVidDetailsRow">
                        {% if x.tags %}
                        <div class="typeTags">
                            {% for t in x.tags %}
                            <div class="courseTag">{{t}}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="otherVidDetails">
                            {{x.footer_course_details}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>


    <div class="burgerFooterSection">
        <div class="burgerSectionMainBoxContainer burgerBottom">
            <div class="bbr1">
                <a href="/">Terms & Conditions</a> &nbsp; • &nbsp;<a href="/">Privacy Policy</a>
            </div>
            <div class="bbr2">
                <a href="/">About</a> &nbsp; • &nbsp; <a href="/">Careers</a> &nbsp; • &nbsp; <a href="/">Blog</a>
            </div>
            <div class="bbr3">
                {% for key,val in social.items %}
                <div class="{{key}}Container" style="display: flex;align-items: center;justify-content: center;"  onclick="window.open('{{val.link}}', '_blank')">
                    <i class="{{val.icon}}" style="color: var(--burger-subtitle-light);"></i>
                </div>
                {% endfor %}
            </div>
            <div class="bbr4">
                © {{year | default:'2023'}} RK Group Learning Pvt Ltd
            </div>
        </div>  
    </div>

</div>









<script>
    
        document.getElementsByClassName("closeButtonPFP")[0].addEventListener("click", () => {
            const PANE = document.getElementsByClassName("profilePane")[0];

            PANE.animate({
                right: "-100vw",
                opacity: "0"
            }, { duration: 200, fill: "forwards" });
        });
        


        document.querySelectorAll(".profileContainer").forEach( profile => profile.addEventListener("click", () => {
            const PANE = document.getElementsByClassName("profilePane")[0];
            PANE.animate({
                right: "0vw",
                opacity: "1"
            }, { duration: 310, fill: "forwards" });
        }));


        
</script>
