$color_1: var(--footer-text0-light);
$color_2: aliceblue;

/* BACKGROUND HERE -------------------------*/
.colabContainer {
	width: 100%;
	min-height: 75vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
	>* {
		display: flex;
		width: 50%;
		align-items: center;
		justify-content: flex-start;
	}
}
.RSOCU {
	display: flex;
	padding: 0 55px 0 0;
}
.contactUsForm {
	border-radius: 15px;
	box-shadow: 0 0 5px .8px rgba(166,166,166,.4);
	padding: 40px 60px 40px 40px;
	width: 100%;
	backdrop-filter: blur(8px);
	background: rgba(255,255,255,.69);
}
form {
	>* {
		padding: 5px 0;
	}
}
.contactTitle {
	font-size: 2rem;
	font-weight: 990;
}
.contactDescription {
	color: $color_1;
}
.inputContactArea {
	margin: 20px 0 7px;
	padding: 0;
	border: .5px solid var(--footer-text1-light);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
	flex-direction: column;
	overflow: hidden;
	border-radius: 7px;
	>* {
		width: 100%;
		display: flex;
		justify-content: stretch;
	}
}
.contactSendBtn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
	flex-direction: column;
	overflow: hidden;
	border-radius: 7px;
	input {
		width: 100%;
		letter-spacing: .5px;
		padding: 10px 0;
		margin: 8px 0;
		font-size: 1.04rem;
		cursor: pointer;
		border-radius: 7px;
		outline: none;
		border: none;
		background: #4648e7;
		font-weight: 990;
		color: $color_2;
		&:hover {
			scale: .97;
		}
	}
}
.inputLSIDE {
	input {
		border: none;
		width: 100%;
		outline: none;
		background: transparent;
		height: 50px;
		font-size: 1.1rem;
		padding: 0 12px;
	}
}
.inputRSIDE {
	input {
		border: none;
		width: 100%;
		outline: none;
		background: transparent;
		height: 50px;
		font-size: 1.1rem;
		padding: 0 12px;
	}
}
.CUBGIMG {
	position: absolute;
	z-index: -10;
	width: 666.4px;
	align-self: flex-end;
	img {
		scale: 1.1;
	}
}
.inputBottom {
	#company_msg {
		width: 100%;
		outline: none;
		border-radius: 0;
		padding: 12px;
		border: none;
		font-size: 1.04rem;
		border-top: .5px solid var(--footer-text1-light);
		background: none;
	}
}
@media (max-width: 980px) {
	.colabContainer {
		flex-direction: column-reverse;
	}
	.RSOCU {
		width: 100%;
		padding: 50px 30px;
		margin-top: 80px;
	}
}
