.closeButtonRP{
    position: absolute;
    justify-self: flex-start;
    align-self: flex-start;
    height: 50px;
    width: 50px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 15px;
    left: 15px;
}

.closeButton:hover{
    background: var(--burger-link-light);
}

/* MAIN STREAK CSS ========================== */

.headerSectionRP{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 40px;
}

.headerSectionRP .headerTitle{
    font-weight: 990;
    font-size: 1.41rem;
    margin-bottom: 8px;
}

.x{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.streakDaysSection{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 24px;
    border: 1.5px solid var(--footer-btn-hover-light);
    border-radius: 10px;
    overflow: hidden;
}


.streakDaysSection .streakDays{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.streakDaysSection .streakDays > *{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.currStreakDays, .longestStreakDays{
    font-weight: bold;
    font-size: 1.65rem;
}

.currStreakDays{ color: var(--orange);}
.longestStreakDays{ color: var(--blue); }
.streakImage{ align-self: flex-end; }
.streakImage img{
    scale: 1.2;
}



.statsSection, .badgesSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.statsSection .statsTitle, .badgesSection .badgesTitle{
    margin: 62px 0 40px;
    font-size: 1.22rem;
    font-weight: 990;
}

.statsSection .statsGrid, .badgesSection .badgesGrid{
    display: grid;
    gap: 24px;
    align-items: center;
    justify-content: center;
    grid-row: 1fr 1fr;
    grid-column: 1fr 1fr;
    width: 100%;
    grid-template-areas:  
    "a b"
    "a b";
    padding-bottom: 15px;
}

.badgesSection .badgesGrid{ padding-bottom: 75px; }

.statsSection .statsGrid > *, .badgesSection .badgesGrid > *{
    height: 125px;
    width: 225px;
    padding: 16px 24px;
    box-shadow: 0px 16px 32px 0px var(--color-shadow-light);
    background: var(--bgcolor1-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.badgesSection .badgesGrid > *{ 
    height: 225px;
    overflow: hidden;
    justify-content: flex-start;
    position: relative;
}


.statsSection .statsGrid .statsGridNumber{
    font-size: 1.45rem;
    font-weight: 990;
    padding-top: 5px;
}


.badgesSection .badgesGrid .badgeContainer > *{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.badgesSection .badgesGrid .badgeContainer .badgeName{
    font-size: 1.3rem;
    font-weight: 990;
    margin-top: 4px;
    padding-bottom: 4px;
}


.badgesSection .badgesGrid .badgeContainer .badgeAbout{
    padding: 0 8px;
    color: var(--footer-btn-hover-light);
    font-size: .83rem;
    align-self: flex-start;
}


.badgesSection .badgesGrid .badgeContainer .badgeDate{
    padding: 0 8px;
    color: var(--footer-btn-hover-light);
    font-size: .83rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    color: white;
    padding: 5px 8px;
    margin-left: 8px;
    border-radius: 4px;
    margin-top: 12px;
}

.badgeImg img{
    scale: .3;
    margin-top: -170px;
    margin-left: -110px;
}

.notificationContainer, .profileContainer{
    cursor: pointer;
}

@media (max-width: 566px){
    
    .streakDaysSection .streakDays{
        width: 75%;
    }
}


@media (max-width: 370px){
    
    .streakDays{
        flex-direction: column;
    }

    .streakDaysSection, .x{
        height: 200px;
    }
}

