@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:wght@400&family=Outfit:wght@300&family=Sacramento&display=swap');

:root{
    --text0-light: #d2d2d2;
    --text1-light: #a0a0a0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Josefin Sans';
    transition: .5s;
    color: var(--text0-light);
    letter-spacing: .15px;
}


body, html{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background: #112733;
}

.landingContainer{
    position: absolute;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch; 
    background: #112733;
}

.landingMain{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


.landingMain > *{
    width: 100%;
    max-width: 1200px;
}


.landingHeader{
    width: 100%;
    display: flex;
    padding: 12px 45px;
    align-items: center;
    position: sticky;
    top: -3px;
    height: 80px;
    z-index: 9999;
    justify-content: space-between;
    background: #112733;
    
}

.footer{
    max-width: 100vw;
}
.LRS{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}


.LRS button, #js{
    outline: none;
    background: #d2d2d2;
    border: none;
    color: #0E1F29;
    font-weight: 990;
    border: 1px solid #d2d2d2;
    padding: 12px 25px;
    border-radius: 8.5px;

}

.LRS a{
    text-decoration: none;
    margin-right: 10px;
}

.LLS{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3C4852;

}

.LLS svg{
    scale: 1.5;
    fill: #3C4852;
}
#js{ background: transparent; color: #d2d2d2;}

/* ============================================================ */



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 65px;
    padding: 64px 45px;
    width: 100%;


}
.container1{
    width: 50%;
    padding-right: 50px;
    height: 100%;
}
.container2{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.container2 img{
    width: 100%;
    align-self: flex-start;
    border-radius: 18px;
    box-shadow: 0px 5px 10px 0px #0E1F29;
    scale: 1.13;
}



.heading {
    font-size: 48px;
    line-height: 56px;
    color: #d2d2d2;
    /* letter-spacing: -0.01em; */
    margin-bottom: 10px;


}


.contact {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 9px;
    outline: none;
    text-decoration: none;
    background: transparent;
    letter-spacing: .8px;
    color: #dedede;
    border: 1.5px solid #676767;
}


.contact:hover, 
.contact:focus{
    border-color: #dedede;
}

.confirm {
    color: #7A8B94;
}

.btn {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    font-weight: 990;
    border-radius: 9px;
    padding: 15px;
    background-color: #03a46e;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: medium;
    cursor: pointer;
    border: none;
}
    

.btn:hover {
    background-color: #323538;
}

.section{
    padding: 80px 45px 25px;
    height: auto;
    width: 100%;
}

.section h2{ font-size: 2.2rem; font-weight: 990; }

.section h5{ font-size: 1.1rem; padding-top: 8px; color: var(--text1-light); font-weight: normal; }


.cards{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 45px;
    padding-bottom: 20px;
    width: 100%;
}
.card{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    padding-top: 40px;
    cursor: default;
    text-align: center;
    box-shadow: 0px 5px 10px 0px #0E1F29;
}


.card:hover{
    scale: 1.07;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    margin: 80px 0;
    gap: 30px;
    padding: 30px 30px 30px 45px;

    
}

.left{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    
}
.leftmain{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 3px;
    width: 100%;
}
.leftmain h2{ font-size: 2.4rem;
    font-weight: bold;

}
.leftmain h3{
    font-weight: normal;
}



.submit{
    border-style: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    width: fit-content;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background-color: #05B67A;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 18px;
}

.submit:hover{
    background-color: #03a46e;
}
.right{
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    padding: 15px;
    gap: 30px;
}
.div-card{
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 15px;
    padding: 25px;
    background: #112733;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px #0E1F29;
    cursor: default;
}

.div-card:hover{
    scale: 1.07;
}
.div-card img{
    position: absolute;
    width: 100%;
    transform: translateY(-70px);
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 15px;
    gap: 30px;    
}
 ::-webkit-scrollbar{display: none;}

 .card{
    cursor: pointer;
 }
 
 .card:hover{
    background-color: #112733;
 }

 .leftmain h3{
    color: var(--text1-light);
 }

 .confirm{
    padding-top: 7px;
 }

 input{
    outline: none;
    font-size: 1rem;
    padding: 15px 15px;
    font-weight: 990;
    height: 60px;
 }

 .btn{
    cursor: pointer;
 }
 .btn:hover{
    scale: 1.007;
    background: #364049;
 }

 .successPage{
    display: flex;
    width: 85%;
    gap: 90px;
    padding: 65px 47px;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #0E1F29;
    border-radius: 18px;
    color: aliceblue;
    font-size: 1.2rem;
    margin-bottom: 80px;
 }


.successTitle{
    font-weight: 990;
    color: #03a46e;
    font-size: 2rem;
    padding-bottom: 12px;
}




 @media (max-width:900px)
 {
     .container{
         display: flex;
         padding: 64px 30px;
         flex-direction: column-reverse;
     }
     
     .cards {
         grid-area: 
         "card card card",
         "card card card",
         "card ";
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
     }
     .para {
        width: fit-content;
     }
     .section2{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        width: 100%;
        padding: 15px;
     }
     .right{
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

    
    }
    .left{
        width: 100%;
    }
    .div-card img{
        position: absolute;
        width: 100%;
        transform: translateY(-120px);
      
    }
    .leftmain{
        padding: 0 15px;
    }
    
 }


 
 @media (max-width:760px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        padding: 64px 30px;
    }

   
    .container2{
        width: 100%;
        align-items: center;
    }
    .para{
        width: 100%;
        text-align: center;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 30px 55px;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: auto;

    }
    .heading{
        font-size: 40px;
        line-height: 56px;
        /* letter-spacing: -0.01em; */
        margin-bottom: 10px;
        text-align: center;
    

    }
    .section{
        text-align: center;
    }
    
    .confirm{
        display: flex;
        justify-content: center;
    }
    
    .contact, .btn{ width: 100%;}
    
 }

@media (max-width: 650px){
    .card{
        width: calc(100% - 90px);
        aspect-ratio: 4;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
}
 
 
 @media (max-width:540px){

    .container{gap: 40px;}
.container2 img{
    width: 72vw;
}
 }