$color_1: var(--text);
$color_2: #7a8b94;
$color_3: #d2d2d2;
$color_4: var(--subtext);
$color_5: var(--bgcolor);
$color_6: #00202E;
$font-family_1: 'Outfit', 'Josefin Sans';

@import "https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:wght@400&family=Outfit:wght@300&family=Sacramento&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
	color: $color_1;
	letter-spacing: .2px;
}
:root {
	--bgcolor: #fcfcfc;
	--cardbg: #ffffff;
	--lookbg: #e1d9fd65;
	--text: #3c4852;
	--subtext: #7a8b94;
	--green: #08bd80;
	--box-shadow: #b7bbbe66;
}
html {
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: var(--bgcolor);
}
body {
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: var(--bgcolor);
}
::-webkit-scrollbar {
	display: none;
}
.authContainer {
	position: absolute;
	width: 620px;
	height: 460px;
	background: var(--cardbg);
	top: 50%;
	right: 50%;
	transform: translateY(-50%);
	box-shadow: 0px 16px 32px 0px var(--box-shadow);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #00202E;
	color: $color_2;
	padding: 0 50px 0 25px;
	>* {
		display: flex;
		flex-direction: column;
		gap: 4px;
		width: 100%;
	}
}
.leftPrettyAuthSection {
	padding: 30px 15px;
	height: 40px;
}
.rightPrettyAuthSection {
	height: calc(100% - 40px);
	padding: 15px;
	justify-content: center;
	margin-bottom: 280px;
}
.authTitle {
	font-size: 1.65rem;
	font-weight: 990;
	color: $color_3;
}
.authSubtitle {
	color: $color_1;
	font-weight: 990;
	font-size: .87rem;
	color: $color_2;
	a {
		color: $color_1;
		font-weight: 990;
		font-size: .87rem;
		color: $color_2;
	}
}
.authTroubleBox {
	font-size: .71rem;
	color: $color_4;
	a {
		font-weight: 990;
	}
}
.authForm {
	padding: 10px 0 30px;
	display: flex;
	flex-direction: column;
	width: 100%;
	form {
		padding: 10px 0 30px;
		display: flex;
		flex-direction: column;
		width: 100%;
		>* {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			min-height: 20px;
		}
	}
	>* {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-height: 20px;
	}
}
input {
	padding: 8px 15px;
	outline: none;
	border: 1px solid var(--text);
	border-radius: 4.3px;
	font-size: 1rem;
	background: transparent;
	color: $color_3;
}
.errS {
	font-size: .6rem;
	padding-left: 15px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
}
.login {
	outline: none;
	border: none;
	background: var(--text);
	color: $color_5;
	font-weight: 990;
	padding: 12px 12px;
	border-radius: 4.3px;
	width: 90px !important;
	display: flex;
	cursor: pointer;
	justify-content: center !important;
	transition: .3s;
	background: #08bd80;
	color: $color_6;
	&:hover {
		scale: 1.035;
		transition: .3s;
	}
}
.authBackButton {
	font-size: .8rem;
	a {
		outline: none;
		text-decoration: none;
	}
}
.authBlaBla {
	width: 100%;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
@media (max-width: 60000px) {
	.bgimg {
		height: 90vh;
		width: auto;
	}
}
@media (max-width: 1000px) {
	.bgimg {
		height: auto;
		width: 150vw;
	}
}
@media (max-width: 335px) {
	.authContainer {
		width: 85vw;
	}
}
